body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.header {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 36px;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.container-nerrow {
  width: 100%;
  max-width: 1086px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  color: rgba(17, 17, 17, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-link:hover,
.header-social-link:hover {
  color: #fd9222;
  transition: color 0.3s ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-link {
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -2%;
  text-align: left;
}
.header-social {
  display: flex;
  align-items: center;
  gap: 14px;
}
/* -------------------- HERO ------------------------------- */
.hero {
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.6);
  padding-top: 375px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}

.hero-content {
}
.hero-title {
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -3%;
  text-align: left;
  max-width: 484px;
  margin-bottom: 32px;
}
.hero-btn-buy {
  display: flex;
  gap: 14;
  padding: 14px 40px 14px 40px;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  border-radius: 100px;
  background: rgba(253, 146, 34, 1);
}
.hero-btn-made {
  display: flex;
  padding: 14px 40px 14px 40px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
}
.hero-btn-img {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.3em;
  text-align: left;
  display: block;
  margin-left: auto;
}
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}
/* -------------------- ADVANTAGES ------------------------------- */
.advantages {
  background-color: rgba(30, 24, 35, 1);
  padding-bottom: 50px;
  padding-top: 50px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.advantages-list {
  display: flex;
  align-items: center;
  gap: 88px;
}
.advantages-item {
}
.advantages-img {
}
.advantages-title {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  margin-bottom: 18px;
}
.advantages-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-align: left;
}
