body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.text-orenge {
  color: rgba(253, 146, 34, 1);
}
.header {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 36px;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.container-narrow {
  width: 100%;
  max-width: 1086px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icon {
  width: 24px;
  height: 24px;
  fill: transparent;
  stroke: rgba(253, 146, 34, 1);
}
.header-logo {
  color: rgba(17, 17, 17, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-link:hover,
.header-social-link:hover {
  color: #fd9222;
  transition: color 0.3s ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-link {
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
}
.header-social {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header-social-icon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: rgba(17, 17, 17, 1);
}
.header-social-icon:hover {
  stroke: #fd9222;
  transition: stroke 0.3s ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
}
/* -------------------- HERO ------------------------------- */
.hero {
}
.hero-container {
  background-image: url(../img/chocolate_main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding-top: 375px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}
.hero-title {
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -3%;
  text-align: left;
  max-width: 484px;
  margin-bottom: 32px;
}
.hero-btn-buy {
  display: flex;
  gap: 14px;
  padding: 14px 40px 14px 40px;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  border-radius: 100px;
  background: rgba(253, 146, 34, 1);
}
.hero-btn-buy:hover {
  background: rgba(252, 241, 224, 1);
  color: rgba(253, 146, 34, 1);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
    cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-made {
  display: flex;
  padding: 14px 40px 14px 40px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
.hero-btn-made:hover {
  border: 1px solid rgba(253, 146, 34, 1);
  color: rgba(253, 146, 34, 1);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
    cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-img {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.3em;
  text-align: left;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}
.hero-btn-fixed {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
}
.hero-btn-fixed:hover {
  color: rgba(253, 146, 34, 1);
  transition: color 0.3s ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-icon {
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  padding: 8px;
  width: 30px;
  height: 30px;
  fill: #fd9222;
}
/* -------------------- ADVANTAGES ------------------------------- */
.advantages {
  background-color: rgba(30, 24, 35, 1);
  padding-bottom: 50px;
  padding-top: 50px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.advantages-list {
  display: flex;
  align-items: center;
  gap: 88px;
}
.advantages-item {
}
.advantages-img {
}
.advantages-title {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  margin-bottom: 18px;
}
.advantages-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
}
/** -------------------- TASTE ------------------------------- */
.taste {
  margin-bottom: 120px;
}
.taste-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
.taste-title {
  width: 412px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.taste-text {
  width: 486px;
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: center;
}
.taste-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.taste-item {
  width: 260px;
  height: 270px;
  border-radius: 15px;
  border: 1px solid rgba(253, 146, 34, 1);
  background: rgba(255, 255, 255, 1);
  padding: 24px 20px;
}
.taste-item:nth-child(1) {
  background: #fd9222;
}
.taste-item:nth-child(5) {
  background: #fd9222;
}
.taste-item:nth-child(2) {
  background: #ffffff;
}
.taste-item:nth-child(7) {
  background: #1e1823;
}
.taste-item:nth-child(3) {
  background: #1e1823;
}
.taste-item-img {
  margin-bottom: 36px;
}
.taste-item-text:nth-child(7) {
  color: rgba(255, 255, 255, 1);
}

.taste-item-text {
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
}
/** -------------------- MADE ------------------------------- */
.made {
  margin-bottom: 120px;
}
.made-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.made-content-text {
  display: flex;
  flex-direction: column;
  width: 516px;
  height: 400px;
  justify-content: center;
  border: 32px solid rgb(255, 255, 255);
}
.made-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.made-img {
  width: 600px;
  height: 400px;
}
.made-title-text {
  color: rgba(17, 17, 17, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 28px;
}
.made-list {
  display: flex;
  flex-direction: column;
  list-style: disc;
  gap: 24px;
}
.made-item {
}
.made-text {
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}
/** -------------------- PRODUCTS ------------------------------- */
.products {
  margin-bottom: 120px;
}
.products-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.products-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 18px;
}
.products-item {
  width: 270px;
  padding: 32px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background: rgba(255, 255, 255, 1);
}
.products-img {
  margin: 0 auto;
}
.products-title-text {
  color: rgba(17, 17, 17, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 2px;
}
.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 18px;
}
.products-btn {
  display: block;
  color: rgba(17, 17, 17, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  margin: 0 auto;
}
/** -------------------- SELLERS ------------------------------- */
.sellers {
  margin-bottom: 120px;
}
.sellers-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.sellers-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.sellers-item {
  width: 368px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0px 0px 15px 15px;
  background: rgba(255, 255, 255, 1);
}
.sellers-img {
  border-radius: 15px 15px 0px 0px;
}
.sellers-text {
  color: rgba(17, 17, 17, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
  padding: 28px 64px;
}
/** -------------------- LOVED ------------------------------- */
.loved {
  margin-bottom: 120px;
}
.loved-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.loved-list {
  display: flex;
  align-items: baseline;
  gap: 28px;
  margin-bottom: 50px;
}
.loved-item {
  width: 360px;
  height: 242px;
  box-sizing: border-box;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0px 9.05px 100px 0px rgba(17, 17, 17, 0.03);
  background: rgba(255, 255, 255, 1);
  padding: 0px 24px;
  padding-bottom: 24px;
}
.loved-img {
  margin: 0 auto;
}
.loved-title-text {
  color: rgba(17, 17, 17, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 24px;
}
.loved-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
}
.loved-btn {
  color: rgba(17, 17, 17, 1);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(253, 146, 34, 1);
  border-radius: 100px;
  display: flex;
  padding: 14px 40px 14px 40px;
  margin: 0 auto;
}
/** -------------------- FOOTER ------------------------------- */
.footer {
  background-color: rgba(30, 24, 35, 1);
  padding: 50px 0px;
}
.footer-info {
  display: flex;
  align-items: baseline;
  gap: 50px;
  margin-bottom: 78px;
}
.footer-text {
  width: 300px;
  height: 68px;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  flex-grow: 1;
}

.footer-social {
}
.footer-soc-title {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin-bottom: 14px;
}
.footer-soc-list {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer-soc-item {
}
.footer-soc-link {
}
.footer-contact {
}
.footer-contact-title {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  margin-bottom: 14px;
}
.footer-contact-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer-contact-item {
}
.footer-contact-link {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
}
.footer-subscribe {
  display: flex;
}
.footer-menu {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 18px 0px;
  flex-grow: 1;
}
.footer-menu-item {
}
.footer-menu-link {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
}
.footer-input {
}
.footer-btn {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  border-radius: 100px;
  background: rgba(253, 146, 34, 1);
  display: flex;
  padding: 17px 40px 17px 40px;
}
