body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.text-orenge {
  color: rgba(253, 146, 34, 1);
}
.header {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 36px;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.container-narrow {
  width: 100%;
  max-width: 1086px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  color: rgba(17, 17, 17, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-link:hover,
.header-social-link:hover {
  color: #fd9222;
  transition: color 0.3s ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-link {
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
}
.header-social {
  display: flex;
  align-items: center;
  gap: 14px;
}
/* -------------------- HERO ------------------------------- */
.hero {
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.6);
  padding-top: 375px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}

.hero-content {
}
.hero-title {
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -3%;
  text-align: left;
  max-width: 484px;
  margin-bottom: 32px;
}
.hero-btn-buy {
  display: flex;
  gap: 14px;
  padding: 14px 40px 14px 40px;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  border-radius: 100px;
  background: rgba(253, 146, 34, 1);
}
.hero-btn-made {
  display: flex;
  padding: 14px 40px 14px 40px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
}
.hero-btn-img {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.3em;
  text-align: left;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}
/* -------------------- ADVANTAGES ------------------------------- */
.advantages {
  background-color: rgba(30, 24, 35, 1);
  padding-bottom: 50px;
  padding-top: 50px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.advantages-list {
  display: flex;
  align-items: center;
  gap: 88px;
}
.advantages-item {
}
.advantages-img {
}
.advantages-title {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  margin-bottom: 18px;
}
.advantages-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
}
/** -------------------- TASTE ------------------------------- */
.taste {
  margin-bottom: 120px;
}
.taste-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
.taste-title {
  width: 412px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.taste-text {
  width: 486px;
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: center;
}
.taste-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.taste-item {
  width: 260px;
  height: 270px;
  border-radius: 15px;
}
.taste-item:nth-child(1) {
  background: #fd9222;
}
.taste-item:nth-child(5) {
  background: #fd9222;
}
.taste-item:nth-child(2) {
  background: #ffffff;
}
.taste-item:nth-child(7) {
  background: #1e1823;
}
.taste-item:nth-child(3) {
  background: #1e1823;
}
.taste-item-img {
  margin-bottom: 36px;
}

.taste-item-text {
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
}
/** -------------------- MADE ------------------------------- */
.made {
  margin-bottom: 120px;
}
.made-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.made-content-text {
  display: flex;
  flex-direction: column;
  width: 516px;
  height: 400px;
  justify-content: center;
  border: 32px solid rgb(255, 255, 255);
}
.made-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.made-img {
  width: 600px;
  height: 400px;
}
.made-title-text {
  color: rgba(17, 17, 17, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 28px;
}
.made-list {
  display: flex;
  flex-direction: column;
  list-style: disc;
  gap: 24px;
}
.made-item {
}
.made-text {
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}
